
<ul id="topmenu">
	<li class="menuon"><em><a id="menu_index" hidefocus="true" href="javascript:;" >首页</a></em></li>
	<li><em><a id="menu_global" hidefocus="true" href="javascript:;" >全局</a></em></li>
	<li><em><a id="menu_style" hidefocus="true" href="javascript:;" >界面</a></em></li>
	<li><em><a id="menu_topic" hidefocus="true" href="javascript:;" >内容</a></em></li>
	<li><em><a id="menu_user" hidefocus="true" href="javascript:;" >用户</a></em></li>
	<li><em><a id="menu_portal" hidefocus="true" href="javascript:;" >门户</a></em></li>
	<li><em><a id="menu_forum" hidefocus="true" href="javascript:;" >论坛</a></em></li>
	<li><em><a id="menu_group" hidefocus="true" href="javascript:;" >群组</a></em></li>
	<li><em><a id="menu_safe" hidefocus="true" href="javascript:;" >防灌水</a></em></li>
	<li><em><a id="menu_extended" hidefocus="true" href="javascript:;" >运营</a></em></li>
	<li><em><a id="menu_plugin" hidefocus="true" href="javascript:;">应用</a></em></li>
	<li><em><a id="menu_tools" hidefocus="true" href="javascript:;">工具</a></em></li>
	<li><em><a id="menu_founder" hidefocus="true" href="javascript:;">站长</a></em></li>
	<li><em><a id="menu_uc" hidefocus="true" href="javascript:;">UCenter</a></em></li>
</ul>