<div id="leftmenu" class="nav">
	<!--▼::首页::index-->
	<ul id="nav_index" class="">
		<li>
			<a href="{:U('/admin/index/main')}" hidefocus="true" target="main" class="tabon">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				管理中心首页
			</a>
		</li>
		<li>
			<a href="{:U('/admin/index/main')}" hidefocus="true" target="main">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				会员
			</a>
		</li>
		<li>
			<a href="{:U('/admin/member/lookup')}" hidefocus="true" target="main">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				禁止用户
			</a>
		</li>
	</ul>
	<!--▲::首页::index-->

	<!--▼::群组::group-->
	<ul id="nav_group" class="hide">
		<li>
			<a href="{:U('/admin/group/index')}" hidefocus="true" target="main" class="tabon">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				群组信息
			</a>
		</li>
		<li>
			<a href="{:U('/admin/member/setting')}" hidefocus="true" target="main">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				会员全局
			</a>
		</li>
		<li>
			<a href="{:U('/admin/member/lookup')}" hidefocus="true" target="main">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				全局用户
			</a>
		</li>
	</ul>
	<!--▲::群组::group-->

	<!--▼::全局::global-->
	<ul id="nav_global" class="hide">
		<li>
			<a href="{:U('/admin/global/index')}" hidefocus="true" target="main" class="tabon">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				全局信息
			</a>
		</li>
		<li>
			<a href="{:U('/admin/global/setting')}" hidefocus="true" target="main">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				全局全局
			</a>
		</li>
		<li>
			<a href="{:U('/admin/global/lookup')}" hidefocus="true" target="main">
				<em onclick="menuNewwin(this)" title="新窗口打开"></em>
				全局用户
			</a>
		</li>
	</ul>
	<!--▲::全局::global-->
	
</div>